title = "Single post"
url = "/single-post/:slug"
layout = "default"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = 404

[PostBreadCrumbs]
categoryPage = "category"
postSlug = "{{ :slug }}"

==
{% set post = blogPost.post %}
    <!-- Page Content -->
    <div class="container" style="margin: 30px;">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-10 col-lg-offset-2">
        {% component 'PostBreadCrumbs' %}
        <br>

          <!-- Title -->
          <h3 class="mt-4">{{ post.title }}</h3>

          <!-- Author -->
          <p class="lead">
            {% if post.categories.count %} in
                {% for category in post.categories %}
                    <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                {% endfor %}
            {% endif %}
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{ post.published_at|date('M d, Y') }}</p>

          <hr>

          <!-- Post Content -->
          <div class="content">{{ post.content_html|raw }}</div>

          <hr>


        </div>



      </div>
      <!-- /.row -->
      <!-- comment section -->
      <div class="row">
        <div class="col-lg-10 col-lg-offset-2">
          <div id="disqus_thread" style="clear: both; position: relative; display: block; float: none; min-height: 500px; max-height: 1000px; height: 800px;" ></div>
          <script>

          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          
          var disqus_config = function () {
          this.page.url = '/single-post/'+{{ post.slug}};  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = '{{ post.slug }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          
          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://octoberdemo.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
      </div>


    </div>
    <!-- /.container -->
    <div style="clear: both;"></div>