<section id="header" class="appear"></section>
  <div class="navbar navbar-dark" role="navigation" style="line-height:60px; height:60px; background-color:rgba(5, 42, 62, 1); border-radius: 0;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="fa fa-bars color-white"></span>
        </button>
        <div class="navbar-logo">
          <a href="index.html"><img style=" width:120px;" src="{{'assets/img/logo.png'|theme}}" alt=""></a>
        </div>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" style="margin-top:5px;">
          <li class="active"><a href="{{'home'|page}}">Home</a></li>
          <li><a href="{{'home'|page}}#section-about">About</a></li>
          <li><a href="{{'home'|page}}#section-works">Portfolio</a></li>
          <li><a href="{{'home'|page}}#section-contact">Contact</a></li>
          <li><a href="{{'blog'|page}}">Blog</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </div>